[Unit]
Description=gost-eve
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/gost -L :443/:4443

[Install]
WantedBy=multi-user.target
