<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://iseey.icu/tk.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://is1-ssl.mzstatic.com/image/thumb/Purple126/v4/de/18/cf/de18cfbd-d8f5-349b-6fe8-aff3ee98ef93/AppIcon_TikTok-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/114x114bb.jpg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://is1-ssl.mzstatic.com/image/thumb/Purple126/v4/de/18/cf/de18cfbd-d8f5-349b-6fe8-aff3ee98ef93/AppIcon_TikTok-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/114x114bb.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.zhiliaoapp.musically</string>
				<key>bundle-version</key>
				<string>21.1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>TikTok</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>